button{
	float: right;
	margin-top: 50px;
	margin-right: 10px;
}

p{
	line-height: 19px;
}



#modalBox{
	width: 750px;
	height: 200px;
	background-color: rgba(255, 0, 0, 0.2);
	display:none;
	text-indent: 50px;
	position: absolute;
	z-index: 3;
	margin-top: 40vh;
	margin-left: 20vh;
}

#rest{
	position: relative;

}